/*
    Zerar estilos
  */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: FredokaOne;
    src: url('/fontes/FredokaOne-Regular.ttf');
}

body {
    width: 100%; 
    padding: 0;
    margin: 0 !important;
    background-color: #73c2fa;
    font-family: Poppins-Bold;
   
}

header {
    width: 100%;
    position: absolute;
}

h1 {
    text-align: center;
    font-family: FredokaOne;

}

.titulo {
    display: block;
    height: 75px;
    position: relative;
    font-size: 30px;
    line-height: 1.2;
    color: white;
    box-shadow: 1px 2px 8px darkgray;
    background-color: #003087;
}



.container {
    display: table;
    margin-top: 2%;
}

#imagem {
    width: 100px;
    height: auto;
    float: left;
    display: table;
    margin-left: 50px;
    margin-top: 1px;
}

#divPalavra {
    margin-left: 400px;
    margin-bottom: 100px;
    margin-top: 0%;
}

#palavra-secreta {
    display: flex;
    margin-top: 50px;
}

.letras {
    width: 50px;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    border: 1px solid #003087;
    background: white;
    color: #003087;
    padding: 10px;
    margin-left: 2px;
    margin-right: 1px;
}

#teclado {
    width: 800px;
    position: relative;
    margin-top: 1px;
}

#posicaoTeclado {
    position: relative;
    margin-top: -4%;
    margin-left: -3%;
}

.teclas button {
    width: 50px;
    height: auto;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    border-color: white;
    background: #003087;
    color: white;
    padding: 10px;
    margin-left: 0px;
    margin-right: -3px;
    cursor: pointer;
    box-shadow: 0px 2px 8px darkgray;
    font-weight: 800;
}

.teclas button :hover {
    transform: scale(1.3);
}

#categoria {
    margin-top: -4%;
    margin-left: -3%;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-family: Poppins-Bold;
    color: #003087;
}

#btnReiniciar {
    width: 50px;
    height: auto;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #003087;
    background: white;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#alerta {
    color: green;
    margin-top: 2%;
    margin-left: 100px;
}

#timer {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 35px;
    line-height: 2;
    position: absolute;
    margin-top: -6.8%;
    left: 9%;
    font-size: 15px;
    background: rgb(226, 244, 252);
    border-radius: 5px;
    border: 1px solid white;
    color: #003087;
}

#pontos {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 35px;
    line-height: 2;
    position: absolute;
    margin-top: -6.8%;
    left: 1%;
    font-size: 15px;
    background: rgb(226, 244, 252);
    border-radius: 5px;
    border: 1px solid white;
    color: #003087;
}

.btn {
    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 17px;
    background: #003087;
    border: solid 2px white;
    display: inline-block;
    position: absolute;
    top: 75%;
    left: 10%;
    transform: translate(-50%, -50%);
    cursor: pointer;

}

.btn:hover {

    background: aliceblue;
    color: #003087;
}

.modal {

    width: 300px;
    height: 265px;
    border: 1px solid #003087;
    border-radius: 15px;
    background-color: #dfe1e2;
    position: absolute;
    top: 75%;
    left: 11.5%;
    transform: translate(-50%, -50%);
    display: none;
    animation: animate;
    animation-duration: 800ms;
}

@keyframes animate {

    from {
        opacity: 1;
    }

    from {
        opacity: 0;
    }
}


.fechar {

    width: 20px;
    height: 20px;
    margin-top: 3px;
    margin-right: 3px;
    text-align: center;
    font: 1em sans-serif;
    color: white;
    background-color: #003087;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}

.imgAprender {

    width: 140px;
    height: 140px;
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 3px;
    border: solid 4.5px #003087;
    border-radius: 15px;
}

#video {
    display: block;
    height: 5px;
    position: absolute;
    left: 0%;
    top: 8.9%;
    width: 10px;
}

.dicionario {
    text-align: center;
    font-size: 15px;
    font-family: Poppins-Bold !important;
    width: 151px;
    border-radius: 15px;
    border: solid 1px #003087;
    background: rgb(226, 244, 252);
    display: inline-block;
    color: #003087;
    position: relative;
    top: -47%;
    left: 49%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.ranking {
    text-align: center;
    font-size: 15px;
    font-family: Poppins-Bold !important;
    width: 151px;
    border-radius: 15px;
    border: solid 1px #003087;
    background: rgb(226, 244, 252);
    display: inline-block;
    color: #003087;
    position: relative;
    top: -47%;
    left: 26%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.sair {
    text-align: center;
    font-size: 15px;
    font-family: Poppins-Bold !important;
    width: 50px;
    border-radius: 15px;
    border: solid 1px #003087;
    background: rgb(226, 244, 252);
    display: inline-block;
    color: #003087;
    position: relative;
    top: -47%;
    left: 61%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#palavraSinal {
    display: inline-block;
    position: absolute;
    margin-top: 3.5%;
    border-radius: 5px;
    margin-left: 3px;
}

#tempoTotal {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 35px;
    position: absolute;
    margin-top: -6.8%;
    left: 17%;
    font-size: 15px;
    background: rgb(226, 244, 252);
    border-radius: 5px;
    border: 1px solid white;
    color: #003087;
}

@media (max-width: 400px){
        .titulo {
        display:inline-block;
        height: 65px;
        position: relative;
        font-size: 12px;
        line-height: 2;
    }
    #imagem {
        width: 25px;
        margin-left: 10%;
        margin-top: 1px;
    }

    #palavraImg{
      width: 70px;
    }
    
    #divPalavra {
        margin-left: 100px;
        margin-bottom: 50px;
        margin-top: 0%;
    }
    
    #palavra-secreta {
        display: flex;
        margin-top: 25px;
    }
    
    .letras {
        width: 25px;
        padding: 5px;
        position: relative;
        left: 15%;
        margin-left: 2px;
        margin-right: 1px;
    }
    
    #teclado {
        width: 400px;
        position: relative;
        margin-top: 1px;
    }
    
    #posicaoTeclado {
        position: relative;
        margin-top: -4%;
        margin-left: -10%;
    }
    
    .teclas button {
        width: 25px;
        padding: 5px;
        margin-left: 0px;
        margin-right: -3px;
        font-weight: 400;
        font-size: 12px;
    }
    
    #categoria {
        margin-top: -7%;
        margin-right: 6%;
        font-size: 10px;
    }
    
    #btnReiniciar {
        width: 25px;
        padding: 5px;
        margin-top: 5px;
    }
    
    #alerta {
        color: green;
        margin-top: 2%;
        margin-left: 100px;
    }
    
    #timer {
        width: 60px;
        height: 20px;
        line-height: 2;
        margin-top: -7.8%;
        left: 19%;
        font-size: 8px;
    }
    
    #pontos {
        width: 60px;
        height: 20px;
        line-height: 2;
        margin-top: -7.8%;
        left: 3%;
        font-size: 8px;
    }
    
    #tempoTotal {
        width: 60px;
        height: 20px;
        line-height: 1;
        margin-top: -7.8%;
        left: 35%;
        font-size: 8px;
    }

    .dicionario {
        font-size: 8px;
        width: 95px;
        text-align: justify;
        line-height: 0;
        height: 10px;
        border-radius: 5px;
        top: 1%;
        left: 28%;
    }

    .ranking {
        font-size: 8px;
        width: 60px;
        text-align: justify;
        line-height: 0;
        height: 10px;
        border-radius: 5px;
        top: 1%;
        left: 23.5%;
    }

    
    .sair {
        font-size: 8px;
        width: 30px;
        height: 10px;
        text-align: center;
        border-radius: 5px;
        line-height: 0;
        top: 1%;
        left: 68%;
    }

    .btn {
        width: 80px;
        height: 80px;
        padding: 10px;
        border-radius: 10px;
        top: 70%;
        left: 12%;
    }

    .modal {
    
        width: 152px;
        height: 150px;
        border-radius: 10px;
        border: 2px solid #003087;
        top: 70%;
        left: 20%;
    }
  
.fechar {
    width: 10px;
    height: 10px;
    font-size: 8px;
}

    .imgAprender {
        width: 70px;
        height: 70px;
        border-radius: 10px;
    }

    video {
        left: 0%;
        top: 15%;
        width: 150px;
        height: 135px;
    }
    
    #palavraSinal {
        width: 25px;
        margin-top: 3.5%;
        border-radius: 5px;
        margin-left: 3px;
    }
    
}

@media (max-width: 1024px){
    .titulo {
        display: block;
        height: 65px;
        position: relative;
        font-size: 20px;
        line-height: 1.5;
    }
    
    #timer {
        width: 100px;
        height: 31px;
        line-height: 2;
        margin-top: -7.8%;
        left: 11%;
        font-size: 15px;
    }
    
    #pontos {
        width: 100px;
        height: 31px;
        line-height: 2;
        margin-top: -7.8%;
        left: 1%;
        font-size: 15px;
    }
    
    #tempoTotal {
        width: 100px;
        height: 31px;
        line-height: 1;
        margin-top: -7.8%;
        left: 21.2%;
        font-size: 15px;
    }

    .dicionario {
        font-size: 15px;
        width: 100px;
        height: 40px;
        line-height: 0.9;
        border-radius: 10px;
        top: -36%;
        left: 34%;
    }

    .ranking {
        font-size: 15px;
        width: 100px;
        height: 40px;
        line-height: 0;
        border-radius: 10px;
        top: -35%;
        left: 35%;
    }

    
    .sair {
        font-size: 15px;
        width: 50px;
        height: 40px;
        text-align: center;
        border-radius: 10px;
        line-height: 0;
        top: -35%;
        left: 59%;
    }
   
    .modal {
        top: 78%;
        left: 15%;
        
    }
}
